
label{
    font-family: Impact;
    font-size: large;
    text-align: center;
}

p{
    font-family: Impact;
    font-size: larger;
    text-align: center;
}
h4{
    font-family: "Arial Narrow";
    text-align: center;
    font-size: smaller;
}
h2, h3, h1{
    font-family: Impact;
    text-align: center;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #aa00ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: Impact;

}

button:hover {background-color: #bf3fd9
}

button:active {
    background-color: #0523b0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* ---------------------------*-menue-style-*-------------------------------- */

ul.nav {
    padding-left: 0px;
    /*background-color: #3D99CE;*/
    /*background-color: rgba(255,255,255,0.5);*/
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 20px 50px;
  }
  /*ul.nav > li:hover {*/
  /*  !*background-color: #2779BF;*!*/
  /*  background-color: rgba(255,255,255,0.5);*/
  /*}*/


  /* ---------------------------*-header-style-*-------------------------------- */

header {
    /*width:900px;*/
    background-color: rgba(255,255,255,0.5);
    height: 200px;
    text-align: center;
    padding:10px;
    width:100%;
}
/* ---------------------------*-footer-style-*-------------------------------- */

footer {
    text-align: center;
    /*width:900px;*/
    background-color: rgba(255,255,255,0.5);
    height: 200px;
    color: #000000;
    width:100%;
}

.footer_info{
    width:300px;
    height: 50px;
    float:left;
    margin-left: 50px;
    margin-right: 50px;

}

/* ---------------------------*-body style-*-------------------------------- */

/*.screen{*/
/*    text-align: center;*/
/*    align-content: center;*/
/*    border: 3px solid #fff;*/
/*    padding: 20px;*/
/*}*/

body  
{
    background-image: url("media/background7.gif");
    margin: 0;  
    padding: 0;  
    background-color: rgba(45, 0, 254, 0.55);
    font-family: 'Arial';
   /* overflow: hidden;without it it wont scroll */
}  
/*----------------------------Welcome screen- ------------------------------------*/

#welcome{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    align-content: center;
    /*border: 3px solid #fff;*/
    padding: 20px;
}

/* ---------------------------login+signin screens-------------------------------- */
.login_signin{  
    width: 385px;  
    overflow: hidden;  
    margin: auto;  
    /*margin: 20 0 0 450px;  */
    padding: 80px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px ;

    text-align: center;
    align-content: center;
    /*border: 3px solid #fff;*/
    /*padding: 20px;*/

}  

h2.screen{  
    text-align: center;
    color: #0523b0;
    padding: 20px;
    font-family: Impact;
}  

.screen > div > form > label {  
    color: #0523b0;
    font-size: 17px;
}

span.screen{  
    color: white;  
    font-size: 17px;  
}  

.input_box{
    width: 300px;  
    height: 20px;
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}

.input_button{
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}

.input_button:hover{
    background-color: antiquewhite;
}

/*------------------------------------------settings screen----------------*/

.settings{
    width:1000px;
    overflow: hidden;
    margin: auto;
    /*margin: 20 0 0 450px;*/
    padding: 80px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px ;

    text-align: center;
    align-content: center;
    /*border: 3px solid #fff;*/
    /*padding: 20px;*/
}

/* ---------------------------game screen-------------------------------- */

#game_screen{
  background-color: rgba(255,255,255,0.5);
  height: 800px;
  /*width: auto;*/
}

#canvas{
    background-color: black;
    border:1px solid #0523b0;
}

.first_box {
    width:300px;
    float:left;
    height: 150px;
    margin: 50px;
    text-decoration-color: #0523b0;
    font-weight: bold;
    font-family: Impact;
}

/*.first-box p {*/
/*    color: #ffffff;*/
/*    padding-left: 80px;*/
/*    padding-top: 50px;*/
/*}*/

.second_box {
    width:300px;
    height: 150px;
    float:right;
    text-align: center;
    margin: 50px;
    text-decoration-color: #0523b0;
    font-weight: bold;
}

/* ---------------------------modal screen--------------------- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    position: relative;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*--------------------------------------slider of number of balls--------------------*/
/*.slidecontainer {*/
/*    width: 100%;*/
/*}*/

/*.slider {*/
/*    -webkit-appearance: none;*/
/*    width: 100%;*/
/*    height: 25px;*/
/*    background: #d3d3d3;*/
/*    outline: none;*/
/*    opacity: 0.7;*/
/*    -webkit-transition: .2s;*/
/*    transition: opacity .2s;*/
/*}*/

/*.slider:hover {*/
/*    opacity: 1;*/
/*}*/

/*.slider::-webkit-slider-thumb {*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    background: #04AA6D;*/
/*    cursor: pointer;*/
/*}*/

/*.slider::-moz-range-thumb {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    background: #04AA6D;*/
/*    cursor: pointer;*/
/*}*/